body {
  font-family: Arial;
  text-align: center;
}

header {
  margin-bottom: 100px;
}

h1 {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.date {
  font-size: 300%;
  font-family: 'Times New Roman', Times, serif;
}